html, body{
	background: #f5f5f5;
	font-family: Arial, sans-serif;
	}

h1 {
	font-size: 30px;
	color: #2174fd;
	margin-bottom: 30px;
}

h2{
	font-size: 21px;
	color: black;
	margin-bottom: 30px;
}

p{
	font-size: 14px;
	color: #8993ad;
}

.wrapper{
	display: grid;
	grid-template-columns: repeat(2,470px);
	grid-column-gap: 20px;
	justify-content:center;
	margin-top: 65px;
}

/***********************ДОБАВИТЬ НОВОЕ ДЕЛО************************/
#form{
	background: white;
	height: 540px;
}
	.input{
		background: #fcfcfc;
		font-size: 16px;
		color: black;
		margin-top: 10px;
		border: 1px solid #ebebeb;
		width: 390px;
	}

	button{
		background: #2174fd;
		width: 224px;
		height: 55px;
		color: white;
		}

	#form p{
		padding-top: 29px;
	}

	button{
		margin-top: 30px;
	}

	#form p, button, .input{
			margin-left:40px;
			margin-right: 40px;
		}

	textarea {
		resize: none;
		height: 230px;
		font-family: Arial, sans-serif;
	}

	input{
		height: 45px;
	}

	/*********************************СПИСОК ДЕЛ*********************************/
	#taskList p{
		margin-top: 59px;
	}

	.listItem li {
		background: white;
		font-size: 14px;
		padding: 18px 40px 0px 19px;
		position: relative;
		margin-bottom: 20px;
		word-break: break-all;
	}

		.title {
			display: inline-block;
			font-size: 16px;
			color: black;
			margin-bottom: 17px;
			vertical-align: top;
		}
		.descriptionContainer {
			display: block;
			border-top: 1px solid #f7f7f7;
			padding-top: 10px;
			color: #8993ad;
			min-height: 56px;
			padding-bottom: 10px;
		}
		
			.moreLink {
				color: #2174fd;
				display: block;
				padding-bottom: 20px;
				cursor: pointer;
				text-decoration: underline;
				text-decoration-style: dashed;
			}
		
		.closeBtn {
			background-image: url("../img/clear-button.png");
			display: inline-block;
			width: 9px;
			height:9px;
			cursor: pointer;
			margin-left: 20px;
		}

		.arrow {
			background-image: url("../img/arrow.png");
			display: inline-block;
			width: 6px;
			height:5px;
			cursor: pointer;
			position: absolute;
			top: 24px;
			right: 24px;
			transition: transform 500ms;
		}
		.arrow.revert {
			transform: rotate(90deg);
			
/************************Попап**********************/		}
.preventScroll{
	overflow: hidden;
}
.popup {
	background: rgba(0,0,0,0.7);
	z-index: 9;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: fixed;
	display:none;
	overflow: auto;
}
.container {
	width: 500px;
	height: 600px;
	background: white;
	z-index: 10;
	margin: 100px auto;
	position: relative;
}
.popup button{
	background:red;
	width: 224px;
	height: 55px;
	color: white;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -112px;
}
.content {
	padding: 40px 40px;
}
	.content p{
		font-size: 18px;
		color: black;
	}